[submodule "bombcrypto-client-v2"]
	path = bombcrypto-client-v2
	url = https://github.com/alanvito1/bombcrypto-client-v2.git
[submodule "bombcrypto-contract-v2"]
	path = bombcrypto-contract-v2
	url = https://github.com/alanvito1/bombcrypto-contract-v2.git
[submodule "bombcrypto-market-v2"]
	path = bombcrypto-market-v2
	url = https://github.com/alanvito1/bombcrypto-market-v2.git
[submodule "bombcrypto-server-v2"]
	path = bombcrypto-server-v2
	url = https://github.com/alanvito1/bombcrypto-server-v2.git
